@import url('https://fonts.googleapis.com/css2?family=Work+Sans');


/* General */

body {
	margin: 0;
	font-family: 'Work Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	color: #252525;
}

code {
  	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	padding: 15px;
	list-style-type: none;
}

h5 {
	font-weight: bold;
}

.content {
	max-width: 700px;
}


/* Buttons */

.btn-primary,
.btn-primary.disabled,
.btn-primary:disabled,
.btn-outline-primary {
	border-color: #2ecc71;
}

.btn-primary,
.btn-primary.disabled,
.btn-primary:disabled {
	background-color: #2ecc71;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active {
	background-color: #27ae60;
	border-color: #27ae60;
}

.btn-outline-primary {
	color: #2ecc71;
}

.btn-outline-primary:hover,
.btn-outline-primary:not(:disabled):not(.disabled):active {
    color: #27ae60;
    background-color: transparent;
    border-color: #27ae60;
}

.btn:focus,
.form-control:focus,
.btn-outline-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus {
	box-shadow: none;
}

.form-control:focus {
	border-color: #ced4da;
}


/* Tabs */

.tab-content,
.nav-tabs .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
	border: 1px solid rgba(0, 0, 0, 0.125);
}

.nav-tabs,
.nav-tabs .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
	border-bottom: none;
}

.nav-tabs .nav-link {
	color: #252525;
	border-radius: 0;
	width: 50%;
	text-align: center;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
	color: #27ae60;
	background-color: rgba(0, 0, 0, 0.03);
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
	outline: 0;
}


/* Questions */

.card-img {
	border-radius: 50%;
}

.min-avatar  {
	height: 30px;
	margin: 0 20px;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
}

.card-details,
.card-details form {
	display: flex;
	height: 100%;
	flex-direction: column;
}

.circle {
	display: inline-block;
	margin: 0;
	padding: 20px;
	width: 20%;
	border-radius: 50%;
	color: #fff;
	background-color: #2ecc71;
}

@media (min-width: 768px) {
	.card-body .col-md-4 {
		margin-top: 0 !important;
		border-right: 1px solid #eee;
	}

	.card-body .col-md-6{
		margin: 0 !important;
		border-right: 1px solid #eee;
		border-left: 1px solid #eee;
	}

	.circle {
		width: 70%;
	}
}

/* Question Result */

.your-vote {
	background-color: rgba(46, 204, 113, 0.05);
	border: 1px solid #27ae60;
}

.your-vote p:first-child {
	color: #27ae60;
}

.badge {
	font-size: 1rem;
}

.badge-secondary {
	background-color: #f1c40f;
}

.badge-pill {
    margin-right: 0.6em;
	margin-top: 0.6em;
}

.text-right {
	margin: 0;
}

.progress {
	height: 2rem;
	font-size: 1.25rem;
}

.progress-bar {
	background-color: #2ecc71;
}


/* Question Result */

.bg-light {
	background-color: #fff !important;
	border-bottom: 3px solid #2ecc71;
}

.navbar {
	padding-bottom: 0;
}

.navbar-light .navbar-nav .nav-link,
.sign-out {
	color: #252525;
	position: relative;
	transition: all .3s cubic-bezier(.2, 0, 0, 1);
	z-index: 1;
}

.navbar-light .navbar-nav .nav-link::after,
.sign-out::after {
	content: '';
    display: block;
    height: 0.5px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #2ecc71;
    transition: all .3s cubic-bezier(.2, 0, 0, 1);
    z-index: -1;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active,
.sign-out:hover {
	color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover::after,
.navbar-light .navbar-nav .nav-link.active::after,
.sign-out:hover::after {
	right: 0;
	left: 0;
	height: 100%;
}

.sign-in-text {
	color: #27ae60;
}
