@import url('https://fonts.googleapis.com/css2?family=Work+Sans');


/* General */

body {
	margin: 0;
	font-family: 'Work Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	color: #252525;
}

code {
  	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	padding: 15px;
	list-style-type: none;
}

h5 {
	font-weight: bold;
}


/* Buttons */

.btn-primary,
.btn-outline-primary {
	border-color: #2ecc71;
}

.btn-primary {
	background-color: #2ecc71;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active {
	background-color: #27ae60;
	border-color: #27ae60;
}

.btn-outline-primary {
	color: #2ecc71;
}

.btn-outline-primary:hover,
.btn-outline-primary:not(:disabled):not(.disabled):active {
    color: #27ae60;
    background-color: transparent;
    border-color: #27ae60;
}

.btn:focus,
.form-control:focus,
.btn-outline-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus {
	box-shadow: none;
}

.form-control:focus {
	border-color: #ced4da;
}


/* Tabs */

.tab-content,
.nav-tabs .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
	border: 1px solid rgba(0, 0, 0, 0.125);
}

.nav-tabs,
.nav-tabs .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
	border-bottom: none;
}

.nav-tabs .nav-link {
	color: #252525;
	border-radius: 0;
	width: 50%;
	text-align: center;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
	color: #2ecc71;
	background-color: rgba(0, 0, 0, 0.03);
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
	outline: 0;
}


/* Polls */

.flex {
	display: flex;
}

.avatar {
	height: 115px;
	margin-right: 20px;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	flex-shrink: 0;
}

.card-details {
	padding-left: 20px;
	border-left: 1px solid #eee;

	flex: 1;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

